@use "../abstractas/variables" as *;

.loading-page {
    background: $color-principal;
    display: flex;
    align-items: center;
    justify-content: center;


    .error-msj{
      position: absolute;
      bottom: 2rem;
      color: $gris;
      // background-color: red;
    }


    .loading-page-logo {
      height: 20vh;
      width: 20vh;
      background-image: url(./assets/shaffers-logo.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }