@use "../abstractas/variables" as *;
// #root{
//     height: 100vh;
//     width: 100vw;
//     overflow: hidden;
//     position: relative;
    
//   }


.main-page {
    background: none;

  }
  .main-page-content{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
    
    .discount-code-container{
      padding: 0 1rem;
      // padding-top: 0rem;
      height: 30svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
  
      .discount-code{
        margin: 0;
        padding: clamp(0.5rem, -0.4rem + 4vw, 0.8rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .2rem;
        h1{
          line-height: 100%;
          margin: 0;
          font-size: clamp(2rem, -4.923rem + 30.769vw, 3rem);
        }
        small{
          font-size: .8rem;
          line-height: 90%;
        }
      }
    }

    .dani-container{
      // height: 45vh;
      height: 55svh;
      width: 100vw;
      background-image: url(./assets/Dani.png);
      background-size: contain;
      background-position:  center center;
      background-repeat: no-repeat;
      z-index: 1;
      flex: 1;
      // transition: transform 0.5s ease-in-out;
      // // transform: translateX(0); // posición original

      // &.animate-dani {
      //   transform: translateY(-50%); // o lo que quieras mover
      // }
      
    }
    .button-container{
      // height: 25vh;
      height: 15svh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $color-principal;
      
    }
  }
  
  .loading-page {
      background: $color-principal;
      display: flex;
      align-items: center;    
      justify-content: center;

      .loading-page-logo{
          height: 20vh;
          width: 20vh;
          background-image: url(./assets/shaffers-logo.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
      }
}
  
  .background{
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 100vw;
    // overflow: visible;

    &::after{
      content: '';
      position: absolute;
      background-color: $color-principal;
      height: 100px;
      width: 100%;
      bottom: 0px;
      // border: solid 1px black;
    }

  }

  
  .wave {
    position: absolute;
    bottom: 0;
    width: 200vw;
    bottom: 0;
    height: 9rem;
    // @include dev-xs{
    // }
    @include dev-sm{
      height: 12rem;
    }
    @include dev-md{
      height: 15rem;
    }
    @include dev-lg{
      height: 18rem;
    }

  }
  
  .wave-1{
    background: url(./assets/svg/wave-1-1.svg) repeat-x;
    background-size: 100vw 100%;
    animation: wave-1 10s infinite linear;    
  }
  .wave-2{
    background: url(./assets/svg/wave-1-2.svg) repeat-x;
    bottom: -1%;
    background-size: 100vw 100%;
    animation: wave-1 20s infinite linear;
    // transform: translateY(5rem);

  }

  
  @keyframes wave-1 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100vw);
    }
  }
  
  @keyframes wave-2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  
  .slide-left {
    transform: translateY(-50%);
  }